<div class="form-group">
    <div class="container">
        <div ng-include="'views/_form_header.html'"></div>
    </div>
</div>
<div class="form-group" >
    <label for="suspectedCrimes" class="col-sm-2 control-label">Suspected Crime(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.suspectedCrimes" class="form-control" id="suspectedCrimes"
               placeholder="Suspected Crime(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="suspects" class="col-sm-2 control-label">Suspect(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.suspects" class="form-control" id="suspects"
               placeholder="Suspect(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="witnesses" class="col-sm-2 control-label">Witnesses:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.witnesses" class="form-control" id="witnesses"
               placeholder="Witnesses"/>
    </div>
</div>
<div class="form-group">
    <label for="victims" class="col-sm-2 control-label">Victim(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.victims" class="form-control" id="victims"
               placeholder="Victim(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="officers" class="col-sm-2 control-label">Officer(s) Involved:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.officers" class="form-control" id="officers"
               placeholder="Officer(s) Involved"/>
    </div>
</div>
<div class="form-group">
    <label for="statement" class="col-sm-2 control-label">Statement(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.statement" class="form-control" id="statement"
               placeholder="Statement(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="details" class="col-sm-2 control-label">Additional Details:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.details" class="form-control" id="details"
               placeholder="Additional Details"/>
    </div>
</div>
<div class="form-group">
    <label for="dateOccurred" class="col-sm-2 control-label">Date Occurred:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.dateOccurred" class="form-control" id="dateOccurred"
               placeholder="Date Occurred"/>
    </div>
</div>
<div class="form-group">
    <label for="involvement" class="col-sm-2 control-label">Officer Involvement:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.involvement" class="form-control" id="involvement"
               placeholder="Officer Involvement"/>
    </div>
</div>
<div class="form-group">
    <label for="event" class="col-sm-2 control-label">Description of Events:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.event" class="form-control" id="event"
               placeholder="Description of Events"/>
    </div>
</div>
<div class="form-group">
    <label for="isVerified" class="col-sm-2 control-label">Is Verified?</label>
    <div class="col-sm-10">
        <input type="text" ng-disabled=true ng-model="report.isVerified" class="form-control" id="isVerified" />
    </div>
</div>

