<div class="form-group">
    <div class="container">
        <div ng-include="'views/_form_header.html'"></div>
    </div>
</div>
<div class="form-group" >
    <label for="suspectedCrimes" class="col-sm-2 control-label">Suspected Crime(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.suspectedCrimes" class="form-control" id="suspectedCrimes"
               placeholder="Suspected Crime(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="suspects" class="col-sm-2 control-label">Suspect(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['SUSPECTS']" class="form-control" id="suspects"
               placeholder="Suspect(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="witnesses" class="col-sm-2 control-label">Witnesses:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['WITNESSES']" class="form-control" id="witnesses"
               placeholder="Witnesses"/>
    </div>
</div>
<div class="form-group">
    <label for="officers" class="col-sm-2 control-label">Officer(s) Involved:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['OFFICERS']" class="form-control" id="officers"
               placeholder="Officer(s) Involved"/>
    </div>
</div>
<div class="form-group">
    <label for="statement" class="col-sm-2 control-label">Statement(s):</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['STATEMENT']" class="form-control" id="statement"
               placeholder="Statement(s)"/>
    </div>
</div>
<div class="form-group">
    <label for="details" class="col-sm-2 control-label">Additional Details:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['DETAILS']" class="form-control" id="details"
               placeholder="Additional Details"/>
    </div>
</div>
<div class="form-group">
    <label for="dateOccurred" class="col-sm-2 control-label">Date Occurred:</label>
    <div class="col-sm-10">
        <input type="text" ng-model="report.furtherDetails['DATE_OCCURRED']" class="form-control" id="dateOccurred"
               placeholder="Date Occurred"/>
    </div>
</div>
<div class="form-group">
    <label for="isVerified" class="col-sm-2 control-label">Is Verified?</label>
    <div class="col-sm-10">
        <input type="text" ng-disabled=true ng-model="report.isVerified" class="form-control" id="isVerified" />
    </div>
</div>

