<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Police Booking System</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <div class="name">
                <label><b>Username</b></label>
                <input type="text" name="uname" ng-value="userName" disabled>
            </div>

            <div class="row">
                <p><a class="btn btn-default" role="button" href="#/reportSearch">Search For Report</a><p>
                <p><a class="btn btn-default" role="button" ng-show="permissions === 'Officer'" href="#/chooseReportType">Create Report</a><p>
            </div>
            <p><a class="btn btn-default" role="button" href="#/login">Log out</a><p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Collins Ltd.</p>
      </footer>
    </div> <!-- /container -->
