<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<div class="name">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
</div>

<div class="pass">
<label><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="pword" required>
</div>

<div class="submission">
<button type="submit" onclick="window.location.href='../index.html'">Login</button>
<input type="checkbox" checked="checked"> Remember me
</div>
</body>
</html>