<div class="container pad-top">
    <form class="form-horizontal" role="form">
        <!--Viewing a report is very similar to add/editing a report, except that it cannot be changed-->
        <!--That is why it has been disabled below:-->
        <fieldset ng-disabled=true>
            <!--STUB-->
            <div ng-include="getReportType()"></div>
        </fieldset>
    </form>
  <div>
      <a class="btn btn-primary" ng-show="getPermissions() === 'Officer'" ui-sref="editReport({id:report.id})">Edit</a>
      <a class="btn btn-danger"  ng-click="deleteReport(report)">Delete</a>
      <a class="btn btn-primary" ng-click="verifyReport(report)">Verify</a>
      <a class="btn btn-primary" ng-click="denyReport(report)">Deny</a>
  </div>
</div>
