<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search For Report</title>
</head>
<body>
<form id="values" role="form" ng-submit="searchReports()">
    <div class="reportId">
        <label for="reportId"><b>Report Id:</b></label>
        <br>
        <input type="number" ng-model="Report.id" name="reportId" id="reportId">
    </div>
    <br>

    <div class="reportDate">
        <label for="reportDate"><b>Report Date:</b></label>
        <br>
        <input type="text" ng-model="Report.reportDate" name="reportDate" id="reportDate">
    </div>
    <br>

    <div class="officerId">
        <label for="officerId"><b>Officer ID:</b></label>
        <br>
        <input type="number" ng-model="Report.officerId" name="officerId" id="officerId">
    </div>
    <br>

    <div class="reportName">
        <label for="reportName"><b>Report Name:</b></label>
        <br>
        <input type="text" ng-model="Report.reportName" name="reportName" id="reportName">
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
    </div>
</form>

</body>
</html>